<form action="/profile/edit" method="POST" enctype="multipart/form-data">
  <label> Username
    <input type="text" name="username" placeholder="ironhacker" />
  </label>

  <label> Avatar
    <input type="file" name="imgUrl"/>
  </label>

  <button type="submit">Save</button>
</form>